---
name: build

on:
  push:
    branches: [main]
    paths:
    - '**.go'
    - 'go.mod'
  pull_request:
    branches: [main]
    paths:
    - '**.go'
    - 'go.mod'

jobs:
  go-build:
    runs-on: ubuntu-22.04
    container: golang:1.26-alpine
    steps:
    - name: checkout
      uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
    - name: install prereqs
      run: apk add --no-cache --update build-base
    - name: build
      run: make build
